#root
  .home-page.theme-dark
    .header-wrap
      %nav.tm-header.navbar.navbar-default.navbar-expand.theme-dark
        .container-fluid
          .navbar-header
            %a.navbar-brand{:href => "/"}
              = image_tag("tmom_logo.png", id: "logo")
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %div
              %ul.hy-menu
                %li.hy-menu-item
                  %a.bar{:href => "/exchange/ZRX-WETH"}
                    %span.nav-item.nav-trade
                      %span TRADE
                %li.hy-menu-item
                  %a.bar{:href => "/reward"}
                    %span.nav-item.nav-task
                      %span REWARDS
            .navbar-nav.ml-auto
              %ul.hy-menu
                %li.hy-menu-item
                  %a.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true",  :href => "javascript:void(0)", :role => "button"}
                    %img.country-icon{:alt => "", :src => "/assets/en.fba4238a.svg"}/
                    %span English
                    %span.caret
                  %ul.dropdown-menu.language
                    %li.lang-switch{:value => "1","data-locale" => "en"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/en.fba4238a.svg"}>/
                        English
                    %li.lang-switch{:value => "2","data-locale" => "ko"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/ko.4d71266b.svg"}>/
                        한국어
                    %li.lang-switch{:value => "3","data-locale" => "zh"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/zh.fee5842f.svg"}>/
                        简体中文
                    %li.lang-switch{:value => "4","data-locale" => "ja"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/ja.e0b7a3ef.svg"}>/
                        日本語
    %nav.vertical-social
      %ul
        %li
          %a{:href => "#"}
            %i.fab.fa-facebook{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fab.fa-twitter{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fab.fa-telegram{"aria-hidden" => "true"}
        %li
          %a{:href => "#"}
            %i.fab.fa-medium-m{"aria-hidden" => "true"}
    .home-main-wrap
      .home-main.theme-dark
        #particles-js
        .section.section-one
          .container
            .show-grid
              .column-1.left.mobile-flex.left-animated
                .section-one-title-wrap
                  %h5
                    %span TOKENMOM
                  %h5
                    %span Invest in Future Value
                .parting-line
                %p.desc
                  %span KOREA's First Futuristic Real Decentralized Exchage
                %p.desc
                  %span Our goal is your investment success not ours!
                %a.start-trading-btn{:href => "/exchange/ZRX-WETH"}
                  %span Start Trading
                %a.start-trading-btn{:href => "/"}
                  %span Whitepaper
              .column-2
                = image_tag('laptop.png', class: "desc-image right-animated")
        .section.section-three.background
          .container
            .heading.text-center
              %h6.sub-title ADVANTAGES
            .show-grid.reverse
              .column-1(data-aos="fade-right")
                = image_tag('no.png', class: "desc-image")
              .mobile-flex.column-2
                .desc-item(data-aos="fade-up")
                  %h5
                    %span No Sign Up Required
                  %p.description
                    %span Tokenmom is anonymous and do not need to sign up for trading. It is true decentralized exchange that helps to trade in realtime between individuals by using personal wallets(Metamask, Ledger nano hardware wallet)
                .desc-item(data-aos="fade-up")
                  %h5
                    %span No KYC For Confirming Personal Identification
                  %p.description
                    %span Start securely trading without any identity verification. No personal information is required.
                .desc-item(data-aos="fade-up")
                  %h5
                    %span No Deposit/Withdraw
                  %p.description
                    %span Tokenmom does not ask additional deposit and withdrawal. Only with Metamask and Ledger Nano S hardware wallet, users can trade their tokens in real-time anywhere, anytime.
                .desc-item(data-aos="fade-up")
                  %h5
                    %span No Hacking
                  %p.description
                    %span Even if Tokenmom exchange is hacked or closed, it does not have to worry about it because users own still the assets in their personal wallet.
        .section.section-four.light-bg.background
          .container
            .heading.text-center
              %h6.sub-title KEY POINTS
            .show-grid
              .column-1.mobile-flex(data-aos="fade-up")
                .desc-item(data-aos="fade-up")
                  %h5
                    %span Easy & Simple Interface
                .desc-item(data-aos="fade-up")
                  %h5
                    %span Lowest Trading Fee
                  %p.description
                    %span At the same time as Tokenmom is opened, the FEE for buy/sell or maker/taker for all transactions is 0%.
                .desc-item(data-aos="fade-up")
                  %h5
                    %span All Ethereum Based Token's Trading
                  %p.description
                    %span Don't just wait for your tokens to be listed on the exchange. Any ethereum based token's trade is possible as you want.
                .desc-item(data-aos="fade-up")
                  %h5
                    %span Multi Languages Supported Interface
                  %p.description
                    %span Tokenmom supports English, Korean, Chinese and Japanese too. More and more languages coming soon.
              .column-2(data-aos="fade-down")
                = image_tag('tokenmom_key.png', class: "desc-image")
        .section.section-five.background
          .container
            .heading.text-center
              %h6.sub-title Our token
            .show-grid.reverse
              .column-1(data-aos="fade-down-right")
                = image_tag('ethereum-token-relayer-liquidity.png', class: "desc-image")
              .column-2.mobile-flex(data-aos="fade-down-left")
                %h5
                  %span Tokenmom Exchange Token(TM)
                %h5
                  %span NO ICO, NO PRESALE & NO CROWD SALE
                %p.description
                  %span Tokenmom Exchange introduces it's own TM token.
                %p.desc
                  %span It sells only 30% of total supply, and it does not proceed with ICO etc, which can only be purchased on Tokenmom Exchange. We do not know whether it will be listed in other exchanges.
                %p.desc
                  %span In order to maximize the profit of the initial investors, the price will be differentiated step by step and so the earlier investment profit will be maximized.
                %p.desc
                  %span The target price of TM Token is 0.001$(about 11.6 KRW). Thus, investors who invest first become more profitable. We also aim to operate TM Market and the fee will be lower than ETH market, and the fee will be received as TM token, which helps Tokenmom exchange to regain TM token and so more profitable for investors. This depends on the success of both TM token's sales and Tokenmom exchange.
        .section.section-seven.background
          .container
            .heading.text-center
              %h6.sub-title Token Distribution
            .show-grid.reverse
              .column-1(data-aos="fade-down-right")
                = image_tag('distribution.png', class: "desc-image")
              .column-2.mobile-flex(data-aos="fade-down-left")
                %h5
                  %span Usage
                %p.description
                  %span - 40%(8,000,000,000) Free TM token to exchange users
                %p.desc
                  %span - 30%(6,000,000,000) Founder, team, exchange maintenance
                %p.desc
                  %span - 20%(4,000,000,000) Price stability and maintenance of TM token
                %p.desc
                  %span - 10%(2,000,000,000) Reserved funds to prepare for problems
        .section.section-eight.light-bg.background
          .container
            .heading.text-center
              %h6.sub-title Who are we
            .show-grid.reverse
              .column-1(data-aos="zoom-out-right")
                = image_tag('who we are.png', class: "desc-image")
              .column-2.mobile-flex(data-aos="zoom-out-left")
                %h5
                  %span Who are We?
                %p.desc
                  %span We started off on the basis of a number of human resources based in Asian countries, and we were born planning an anonymous decentralized exchange.
                  So where is our headquarter? China, Japan, Korea, Tiwan, Singapore, Thailand, Vietnam, the Philippines, Laos, India, Indonesia, etc.? Don't wonder. It's near you.
                %p.desc
                  %span Our team members are distributed all over the world and united for anonymous Decentralized Exchange.
                %p.desc
                  %span We are an exchange for the activation of fair trade between anounymous individuals.
                %p.desc
                  %span Do not forget that those who know true future values must win.
        .client-download-wrap.background
          .heading.text-center
            %h6.sub-title Exchange app
          .client-download-inner-wrap
            .download-wrap
              = image_tag('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAUCAYAAABroNZJAAAABGdBTUEAALGPC/xhBQAAAUtJREFUOBGllD1LA0EQhndPAtooBG0UbVKkE8tYaKGdla1Ffpf/wkIsAqYUNU3QShQEA34QkjQGhah4Pu+ZPY5TMHMOPJndvZl3ZtndODehxXFchTpU8ilRfuG3OYkbrO+BBHr5mD9FEJgnaWuceOO9fzaLkLAKHoZwCD9MH1OjaonJInxAn6oj1jYZz8ApzIE6e4E7vr/jkwqOQG1rG9Yhu0Xt/wlmYRmmIJiEjhC6SjpBZJeFtfDV4D+J3Y8QUPtFBFTrmE56al1bKGIdBM6UKJGFIgrkXIQ8iZTDxOjT+yKRN2NyCNdxJyaRwXhsdelh/EdkhZOtqbJnoEdVt7aRiW9HHNMtC93MonVY0nZk59/O/BuTcRJELpk8mCWca7GTbiLCQG/gAF4NQvfENhWf/yvQ7d0BvadH6ICCp2EJ9JJ1Oa+hQfER3n0BHLJX4HmBPSwAAAAASUVORK5CYII=')
              %span App Store
            .download-wrap
              = image_tag ('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAYAAAAinad/AAAABGdBTUEAALGPC/xhBQAAAYtJREFUOBHNlL1KA0EUhWf9IWKhRlEExZ/YWWhhlUo7K1uL9D6AjyU+gXaCGLARUygogmAhKJoiokaL9TvLzLIzu5KslRcON/ecMzdzZyYxpiDiOJ4CCwWSga+C5SItKiLFsWDDamo6Ct7BPRiOouicnIuhHANBoxXSJhgL9HXqDvoLDe8CzQyEBMYaXAPIfBHoN9SXoGF9nuw1wzCIugOUtTshG/MUqyDxWX+qe81gF0HVqhoxHFNnN2l1+eRPw7sAvmkCZSZVe39oc3bPzhbRYItiDRyCJbAN+o1rjCdgF7Q0Zh1o62r4l9ANa31dzSq2w4jNZZNbVwkvoGwjz/+/m3XtXj+9PfdfuHVdjdkEr6DV/3rPqXVa3wwfrZ5JqXfGoz1wrcMLcFt2eq/sjijxhX9BV7CzYBrUEocxbbJ+MnpP7g9T9SM4BWl4YzqWn9g4n/dtfcYox3Bz1HuWO4LTWXsRjumJZYvfmn1lGrlz+c5wWT2lC5sxwgcOXXkH6BwN3BPpAbyBW5CLH/7yZe1+YuwFAAAAAElFTkSuQmCC')
              %span Android
          %p.tip
            %span Coming Soon…
        .community-wrap.background.faq
          .heading.text-center
            %h6.sub-title QUESTION
          .container.collapse-icon
            #accordion
              .card(data-aos="fade-up")
                .card-header
                  %a.collapsed.card-link{"data-toggle" => "collapse", :href => "#collapseOne"}
                    %span.icon
                    What is the Tokenmom?
                #collapseOne.collapse{"data-parent" => "#accordion"}
                  .card-body
                    TokenMom is the Korean's First Futuristic Real Decentralized Exchange
              .card(data-aos="fade-up")
                .card-header
                  %a.collapsed.card-link{"data-toggle" => "collapse", :href => "#collapseTwo"}
                    %span.icon
                    How can I purchase TM token?
                #collapseTwo.collapse{"data-parent" => "#accordion"}
                  .card-body
                    Tokenmom does not proceed with ICO etc, which can only be purchased on Tokenmom Exchange.
              .card(data-aos="fade-up")
                .card-header
                  %a.collapsed.card-link{"data-toggle" => "collapse", :href => "#collapseThree"}
                    %span.icon
                    How much is the trade fee?
                #collapseThree.collapse{"data-parent" => "#accordion"}
                  .card-body
                    Free trading fee for 2 months, After 2 months, the highest fee shall be 0.05% or less

    .footer-wrap
      .tm-footer-wrap.theme-dark
        .container
          .row
            -#.col-6.col-md-3
            -#  .more-entry-wrap
            -#    %p.entry-title
            -#      %span About
            -#    .entry-list
            -#      %a{:href => "https://support.ddex.io/hc/en-us/sections/115000974353-Getting-Started", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Getting Started
            -#      %a{:href => "https://support.ddex.io/hc/en-us/categories/115000446353-Announcements", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Announcements
            -#      %a{:href => "https://thehydrofoundation.com/", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Hydro Protocol
            -#      %a{:href => "https://support.ddex.io/hc/en-us/articles/360003049673-New-User-Trading-Rewards-Program", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Promotions
            -#      %a{:href => "https://support.ddex.io/hc/en-us/articles/115004488814-User-Agreement", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Terms and Policies
            -#.col-6.col-md-3
            -#  .more-entry-wrap
            -#    %p.entry-title
            -#      %span Tools
            -#    .entry-list
            -#      %a{:href => "https://goo.gl/forms/qwOfheQhLDYaZQRA3", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Token Listing Application
            -#      %a{:href => "https://docs.ddex.io/", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span API
            -#      %a{:href => "https://github.com/HydroProtocol/sdk", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span SDK
            -#      %a{:href => "https://etherscan.io/address/0x12459c951127e0c374ff9105dda097662a027093", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Smart Contract
            -#.col-6.col-md-3
            -#  .more-entry-wrap
            -#    %p.entry-title
            -#      %span Support
            -#    .entry-list
            -#      %a{:href => "https://support.ddex.io/hc/en-us/articles/115004535333-Fees", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Fees
            -#      %a{:href => "https://support.ddex.io/hc/en-us/categories/115000446153-FAQ", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span FAQ
            -#      %a{:href => "https://support.ddex.io/hc/en-us", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span Support Center
            -#.col-6.col-md-3
            -#  .image-entry-wrap
            -#    %span.image-logo-wrap
            -#    .image-entries
            -#      %a{:href => "https://twitter.com/ddex_io", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span.image-wrap
            -#          %span.image.twitter
            -#      %a{:href => "mailto:support@exchange.io", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span.image-wrap
            -#          %span.image.mail
            -#      %a{:href => "https://www.reddit.com/r/ddex/", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span.image-wrap
            -#          %span.image.reddit
            -#      %a{:href => "https://www.facebook.com/ddex.io.exchange", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span.image-wrap
            -#          %span.image.facebook
            -#    .image-entries
            -#      %a{:href => "https://ddex.slack.com/", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span.image-wrap
            -#          %span.image.slack
            -#      %a{:href => "https://t.me/ddexio", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span.image-wrap
            -#          %span.image.telegram
            -#      %a{:href => "https://medium.com/ddex", :rel => "noopener noreferrer", :target => "_blank"}
            -#        %span.image-wrap
            -#          %span.image.medium
            -#      %a{:href => "javascript:void(0)"}
            -#        .image-wrap
            -#          %span.image.wechat
            -#          .popover-wechat-image-wrap
            -#            %img{:alt => "wechat", :src => "https://cdn.ddex.io/static/media/wechat.d5472c9b.png"}/
            -#            %span.popover-wechat-image-arrow
            -#    .subscribe-input-wrap
            -#      %p.subscribe-title
            -#        %span Subscribe for updates
            -#      .input-wrap
            -#        %input{:placeholder => "Enter your email", :type => "text", :value => ""}/
            -#        %span.right-arrow
            .copy-right-wrap.col-md-12
              %div COPYRIGHT 2018 © TOKENMOM.COM ALL RIGHTS RESERVED
%script{:src => "https://unpkg.com/aos@next/dist/aos.js"}
%script{:src => "http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"}

:javascript
  AOS.init({
    disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
    offset: 50, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 800, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  });
  particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 80,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
        "src": "img/github.svg",
        "width": 100,
        "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 3,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 4,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "repulse"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 400,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 100,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });


