
#root
  .home-page.theme-dark
    .header-wrap
      %nav.tm-header.navbar.navbar-default.navbar-expand.theme-dark
        .container-fluid
          .navbar-header
            %a.navbar-brand{:href => "/"}
              = image_tag("tmom_logo.png", id: "logo")
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %div
              %ul.hy-menu
                %li.hy-menu-item
                  %a.bar{:href => "/trade/ZRX-WETH"}
                    %span.nav-item.nav-trade
                      %span TRADE
                %li.hy-menu-item
                  %a.bar{:href => "/task"}
                    %span.nav-item.nav-task
                      %span REWARDS
            .navbar-nav.ml-auto
              %ul.hy-menu
                %li.hy-menu-item
                  %a.dropdown-toggle.nav-link{"aria-expanded" => "false", "aria-haspopup" => "true",  :href => "javascript:void(0)", :role => "button"}
                    %img.country-icon{:alt => "", :src => "/assets/en.fba4238a.svg"}/
                    %span English
                    %span.caret
                  %ul.dropdown-menu.language
                    %li.lang-switch{:value => "1","data-locale" => "en"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/en.fba4238a.svg"}>/
                        English
                    %li.lang-switch{:value => "2","data-locale" => "ko"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/ko.4d71266b.svg"}>/
                        한국어
                    %li.lang-switch{:value => "3","data-locale" => "zh"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/zh.fee5842f.svg"}>/
                        简体中文
                    %li.lang-switch{:value => "4","data-locale" => "ja"}
                      %a{:href => "javascript:void(0)"}
                        %img.country-icon{:alt => "", :src => "/assets/ja.e0b7a3ef.svg"}>/
                        日本語
    .home-main-wrap
      .home-main.theme-dark
        .section.section-one
          .container
            .show-grid
              .column-1.left.mobile-flex.left-animated
                .section-one-title-wrap
                  %h5
                    %span Redefining
                  %h5
                    %span Decentralized Exchanges
                .parting-line
                %p.desc
                  %span DDEX is the first decentralized exchange built on Hydro Protocol technology, offering instant, real-time order matching with secure on-chain settlement.
                %a.start-trading-btn{:href => "/trade/ZRX-WETH"}
                  %span Start Trading
              .column-2
                = image_tag('imgpsh_fullsize.png', class: "desc-image right-animated")
        -#.section-two
        -#  .container
        -#    .support-wrap
        -#      .backed-by
        -#        %span
        -#          %span Backed by
        -#        %a{:href => "http://www.zhenfund.com", :rel => "noopener noreferrer", :target => "_blank"}
        -#          %span.backed-one
        -#        %a{:href => "https://initialized.com", :rel => "noopener noreferrer", :target => "_blank"}
        -#          %span.backed-two
        -#      .featured-on
        -#        %span
        -#          %span Featured on
        -#        %a{:href => "https://www.wsj.com/articles/alexis-ohanians-vc-firm-invests-2-1-million-in-crypto-trading-platform-1520365270", :rel => "noopener noreferrer", :target => "_blank"}
        -#          %span.backed-four
        -#        %a{:href => "http://36kr.com/p/5112769.html", :rel => "noopener noreferrer", :target => "_blank"}
        -#          %span.backed-five
        -#        %a{:href => "https://www.theinformation.com/articles/crackdown-fails-to-stop-chinas-crypto-gold-rush?jwt=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJkaWFuZTE5OTdAZm94bWFpbC5jb20iLCJleHAiOjE1NTA2NjA5MzksIm4iOiJHdWVzdCIsInNjb3BlIjpbInNoYXJlIl19.sOAVigyxXF9Yoef_CWkJOsxa9pGbZK5j28Ts0vg-_MA&unlock=1d1c75dc90bc9498", :rel => "noopener noreferrer", :target => "_blank"}
        -#          %span.backed-six
        -#        %a{:href => "https://xw.qq.com/tech/20180209028688/TEC2018020902868800", :rel => "noopener noreferrer", :target => "_blank"}
        -#          %span.backed-seven
        .section.section-three.background
          .container
            .show-grid.reverse
              .column-1(data-aos="fade-right")
                %img.desc-image{:alt => "", :src => "https://cdn.ddex.io/static/media/wallet.b5704517.png"}/
              .mobile-flex.column-2(data-aos="fade-left")
                %h5
                  %span No Sign Up Required
                %p.description
                  %span Start securely trading on DDEX right away using one of our many supported digital wallets. No additional registration is required.
        .section.section-four.light-bg.background
          .container
            .show-grid
              .column-1.mobile-flex(data-aos="fade-up")
                %h5
                  %span Industry Leading Decentralized
                %h5
                  %span Exchange with Actual Liquidity
                %p.description
                  %span
                    One of the top decentralized exchanges by both
                    %a{:href => "https://etherscan.io/stat/dextracker", :target => "_blank"} total number of transactions
                    and
                    = succeed "." do
                      %a{:href => "https://coinmarketcap.com/exchanges/ddex/", :target => "_blank"} trading volume
                    = succeed "." do
                      %a{:href => "https://docs.ddex.io/", :target => "_blank"} API
                    %a{:href => "https://support.ddex.io/hc/en-us/articles/115004535333-Fees", :target => "_blank"} fee structure
                    yields greater market depth.
              .column-2(data-aos="fade-down")
                %img.desc-image{:alt => "", :src => "https://cdn.ddex.io/static/media/liquidity.227b525a.png"}/
        .section.section-five.background
          .container
            .show-grid.reverse
              .column-1(data-aos="fade-down-right")
                %img.desc-image{:alt => "", :src => "https://cdn.ddex.io/static/media/secure.70c9bbba.png"}/
              .column-2.mobile-flex(data-aos="fade-down-left")
                %h5
                  %span Secure Trading -
                %h5
                  %span No Deposit Required
                %p.description
                  %span Using Ethereum smart contracts and the 0x protocol, DDEX allows users to trade digital assets directly from wallet-to-wallet. No depositing required: you have complete control of your assets.
                %p.desc
                  %span Revolutionary for Ledger users - trade without your assets ever leaving your storage barrier!
        -#.section.section-six.light-bg.background
        -#  .container
        -#    .show-grid
        -#      .column-1.mobile-flex.left-animated
        -#        %h5
        -#          %span Mobile-focused
        -#        %h5
        -#          %span 24/7 Trading on the go
        -#        %p.description
        -#          %span We offer a wide variety of mobile options for trading 24/7. We are currently available on mobile DApp browsers including Cipher, Toshi, Trust and Dapp Browser. Our highly-anticipated DDEX mobile-native trading app is coming soon!
        -#        %ul.dapp-browser-wrap
        -#          %li
        -#            %a{:href => "https://trustwalletapp.com/features/trust-browser", :target => "_blank"}
        -#              %span.dapp-browser.trust
        -#          %li
        -#            %a{:href => "https://www.toshi.org/", :target => "_blank"}
        -#              %span.dapp-browser.toshi
        -#          %li
        -#            %a{:href => "https://www.cipherbrowser.com/", :target => "_blank"}
        -#              %span.dapp-browser.cipher
        -#          %li
        -#            %a{:href => "https://www.cmcmbc.com/en-us/dapp-browser/?from=ddex_HP_mobile", :target => "_blank"}
        -#              %span.dapp-browser.dapp
        -#          %li
        -#            %a{:href => "https://cobo.com", :target => "_blank"}
        -#              %span.dapp-browser.cobo
        -#          %li
        -#            %a{:href => "https://token.im/download", :target => "_blank"}
        -#              %span.dapp-browser.imtoken
        -#      .column-2
        -#        %img.desc-image.down-animated{:alt => "", :src => "https://cdn.ddex.io/static/media/mobile.1d753871.png"}/
        .client-download-wrap.background
          .client-download-inner-wrap
            .download-wrap
              = image_tag('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAUCAYAAABroNZJAAAABGdBTUEAALGPC/xhBQAAAUtJREFUOBGllD1LA0EQhndPAtooBG0UbVKkE8tYaKGdla1Ffpf/wkIsAqYUNU3QShQEA34QkjQGhah4Pu+ZPY5TMHMOPJndvZl3ZtndODehxXFchTpU8ilRfuG3OYkbrO+BBHr5mD9FEJgnaWuceOO9fzaLkLAKHoZwCD9MH1OjaonJInxAn6oj1jYZz8ApzIE6e4E7vr/jkwqOQG1rG9Yhu0Xt/wlmYRmmIJiEjhC6SjpBZJeFtfDV4D+J3Y8QUPtFBFTrmE56al1bKGIdBM6UKJGFIgrkXIQ8iZTDxOjT+yKRN2NyCNdxJyaRwXhsdelh/EdkhZOtqbJnoEdVt7aRiW9HHNMtC93MonVY0nZk59/O/BuTcRJELpk8mCWca7GTbiLCQG/gAF4NQvfENhWf/yvQ7d0BvadH6ICCp2EJ9JJ1Oa+hQfER3n0BHLJX4HmBPSwAAAAASUVORK5CYII=')
              %span App Store
            .download-wrap
              = image_tag ('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAYAAAAinad/AAAABGdBTUEAALGPC/xhBQAAAYtJREFUOBHNlL1KA0EUhWf9IWKhRlEExZ/YWWhhlUo7K1uL9D6AjyU+gXaCGLARUygogmAhKJoiokaL9TvLzLIzu5KslRcON/ecMzdzZyYxpiDiOJ4CCwWSga+C5SItKiLFsWDDamo6Ct7BPRiOouicnIuhHANBoxXSJhgL9HXqDvoLDe8CzQyEBMYaXAPIfBHoN9SXoGF9nuw1wzCIugOUtTshG/MUqyDxWX+qe81gF0HVqhoxHFNnN2l1+eRPw7sAvmkCZSZVe39oc3bPzhbRYItiDRyCJbAN+o1rjCdgF7Q0Zh1o62r4l9ANa31dzSq2w4jNZZNbVwkvoGwjz/+/m3XtXj+9PfdfuHVdjdkEr6DV/3rPqXVa3wwfrZ5JqXfGoz1wrcMLcFt2eq/sjijxhX9BV7CzYBrUEocxbbJ+MnpP7g9T9SM4BWl4YzqWn9g4n/dtfcYox3Bz1HuWO4LTWXsRjumJZYvfmn1lGrlz+c5wWT2lC5sxwgcOXXkH6BwN3BPpAbyBW5CLH/7yZe1+YuwFAAAAAElFTkSuQmCC')
              %span Android
          %p.tip
            %span Coming Soon…
        .section.section-seven.background
          .container
            .show-grid
              .column-1.mobile-flex(data-aos="zoom-in")
                %h5
                  %span Automated Trading and Market Making
                %p.description
                  %span Our Hydro API documentation is free! The realtime websocket API provides state-of-the-art capabilities for automated trading.
                %a.start-trading-btn{:href => "https://docs.ddex.io/", :rel => "noopener noreferrer", :target => "_blank"}
                  %span Read API Documentation
              .column-2(data-aos="zoom-in-up")
                %img.desc-image{:alt => "", :src => "https://cdn.ddex.io/static/media/api.9076efab.png"}/
        .section.section-eight.light-bg.background
          .container
            .show-grid.reverse
              .column-1(data-aos="zoom-out-right")
                %img.desc-image{:alt => "", :src => "https://cdn.ddex.io/static/media/list.97a7a0ad.png"}/
              .column-2.mobile-flex(data-aos="zoom-out-left")
                %h5
                  %span Simple Listing Process
                %p.description
                  %span We are excited to work with innovative and unique projects that provide value to the decentralized community. Our token listing application form is open for any project to apply.
                %a.start-trading-btn{:href => "https://support.ddex.io/hc/en-us/articles/360004588513-Token-Listing-Guidelines", :rel => "noopener noreferrer", :target => "_blank"}
                  %span Apply to List
        -#.partners-wrap.background
        -#  .container
        -#    .partners-inner-wrap
        -#      %h5
        -#        %span Partners
        -#      .partners-box
        -#        .partners-row
        -#          %a.partner{:href => "https://ethereum.org/", :target => "_blank"}
        -#            %span.eth
        -#          %a.partner{:href => "https://0xproject.com/", :target => "_blank"}
        -#            %span.protocol
        -#          %a.partner{:href => "https://thehydrofoundation.com/", :target => "_blank"}
        -#            %span.hydro
        -#          %a.partner{:href => "https://www.toshi.org/", :target => "_blank"}
        -#            %span.toshi
        -#          %a.partner{:href => "https://trustwalletapp.com/", :target => "_blank"}
        -#            %span.trust
        -#          %a.partner{:href => "https://www.cipherbrowser.com/", :target => "_blank"}
        -#            %span.cipher
        -#          %a.partner{:href => "https://www.cmcmbc.com/en-us/dapp-browser/?from=ddex_HP_partner_apk", :target => "_blank"}
        -#            %span.dapp-browser
        -#          %a.partner{:href => "https://cobo.com", :target => "_blank"}
        -#            %span.cobo
        -#          %a.partner{:href => "https://token.im/download", :target => "_blank"}
        -#            %span.imtoken
        -#          %a.partner{:href => "https://ratingtoken.io/", :target => "_blank"}
        -#            %span.rating-token
        .community-wrap.background
          .container
            %h5.title
              %span What Our Community is Saying...
            .community-saying-wrap
              .community-saying(data-aos="fade-up")
                %p.saying
                  %span The UI is wonderful. It's the convenience of EtherDelta but with the UI of GDAX.
              .community-saying(data-aos="fade-up")
                %p.saying
                  %span The ability to buy and sell tokens directly from my ledger is the ultimate form of security. Decentralized exchanges are providing the safety and security that crypto desperately needs!
              .community-saying(data-aos="fade-up")
                %p.saying
                  %span They provide one of the only DEX API's that supports free order cancellation, which is key for our market making strategy. Their SDK is extremely well documented. Support is professional and fast. Brilliant!
              .community-saying(data-aos="fade-up")
                %p.saying
                  %span DDEX consistently lists cool decentralized projects before anyone else. Anyone looking to trade a hot ICO needs to check DDEX out.
    .footer-wrap
      .tm-footer-wrap.theme-dark
        .container
          .row
            .col-6.col-md-3
              .more-entry-wrap
                %p.entry-title
                  %span About
                .entry-list
                  %a{:href => "https://support.ddex.io/hc/en-us/sections/115000974353-Getting-Started", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Getting Started
                  %a{:href => "https://support.ddex.io/hc/en-us/categories/115000446353-Announcements", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Announcements
                  %a{:href => "https://thehydrofoundation.com/", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Hydro Protocol
                  %a{:href => "https://support.ddex.io/hc/en-us/articles/360003049673-New-User-Trading-Rewards-Program", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Promotions
                  %a{:href => "https://support.ddex.io/hc/en-us/articles/115004488814-User-Agreement", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Terms and Policies
            .col-6.col-md-3
              .more-entry-wrap
                %p.entry-title
                  %span Tools
                .entry-list
                  %a{:href => "https://goo.gl/forms/qwOfheQhLDYaZQRA3", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Token Listing Application
                  %a{:href => "https://docs.ddex.io/", :rel => "noopener noreferrer", :target => "_blank"}
                    %span API
                  %a{:href => "https://github.com/HydroProtocol/sdk", :rel => "noopener noreferrer", :target => "_blank"}
                    %span SDK
                  %a{:href => "https://etherscan.io/address/0x12459c951127e0c374ff9105dda097662a027093", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Smart Contract
            .col-6.col-md-3
              .more-entry-wrap
                %p.entry-title
                  %span Support
                .entry-list
                  %a{:href => "https://support.ddex.io/hc/en-us/articles/115004535333-Fees", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Fees
                  %a{:href => "https://support.ddex.io/hc/en-us/categories/115000446153-FAQ", :rel => "noopener noreferrer", :target => "_blank"}
                    %span FAQ
                  %a{:href => "https://support.ddex.io/hc/en-us", :rel => "noopener noreferrer", :target => "_blank"}
                    %span Support Center
            .col-6.col-md-3
              .image-entry-wrap
                %span.image-logo-wrap
                .image-entries
                  %a{:href => "https://twitter.com/ddex_io", :rel => "noopener noreferrer", :target => "_blank"}
                    %span.image-wrap
                      %span.image.twitter
                  %a{:href => "mailto:support@exchange.io", :rel => "noopener noreferrer", :target => "_blank"}
                    %span.image-wrap
                      %span.image.mail
                  %a{:href => "https://www.reddit.com/r/ddex/", :rel => "noopener noreferrer", :target => "_blank"}
                    %span.image-wrap
                      %span.image.reddit
                  %a{:href => "https://www.facebook.com/ddex.io.exchange", :rel => "noopener noreferrer", :target => "_blank"}
                    %span.image-wrap
                      %span.image.facebook
                .image-entries
                  %a{:href => "https://ddex.slack.com/", :rel => "noopener noreferrer", :target => "_blank"}
                    %span.image-wrap
                      %span.image.slack
                  %a{:href => "https://t.me/ddexio", :rel => "noopener noreferrer", :target => "_blank"}
                    %span.image-wrap
                      %span.image.telegram
                  %a{:href => "https://medium.com/ddex", :rel => "noopener noreferrer", :target => "_blank"}
                    %span.image-wrap
                      %span.image.medium
                  %a{:href => "javascript:void(0)"}
                    .image-wrap
                      %span.image.wechat
                      .popover-wechat-image-wrap
                        %img{:alt => "wechat", :src => "https://cdn.ddex.io/static/media/wechat.d5472c9b.png"}/
                        %span.popover-wechat-image-arrow
                .subscribe-input-wrap
                  %p.subscribe-title
                    %span Subscribe for updates
                  .input-wrap
                    %input{:placeholder => "Enter your email", :type => "text", :value => ""}/
                    %span.right-arrow
            .copy-right-wrap.col-md-12
              %div COPYRIGHT 2018 © DDEX.IO ALL RIGHTS RESERVED
%script{:src => "https://unpkg.com/aos@next/dist/aos.js"}
:javascript
  AOS.init({
    disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
    offset: 50, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 800, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  });
