
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0 ,user-scalable=yes, maximum-scale=1,minimum-scale=1", :name => "viewport"}/
    %meta{:content => "9796a30dc43beb13d0aa9551e02140a598eb589a", :name => "naver-site-verification"}/
    %meta{:content => "index,follow", :name => "robots"}/
    %link{:href => "https://tokenmom.com", :hreflang => "en-us", :rel => "alternate"}/
    %link{:href => "https://tokenmom.com", :rel => "canonical"}/    
    %link{:href => "tokenmom", :rel => "author"}/
    %title TOKENMOM - Decentralized Ethereum Based TOKEN Exchange - TM COIN
    %meta{:content => "Tokenmom is Real Decentralized Token Exchange(DEX) TM COIN", :name => "description"}/
    %meta{:content => "decentralized exchange,idex,etherdelta,forkdelta,tokenmom,tm token,tm coin,myetherwallet,metamask,dex", :name => "keywords"}/
    %meta{:content => "https://pbs.twimg.com/profile_images/991255277679726593/-_BrmeXn_400x400.jpg", :name => "image"}/
    %meta{:content => "https://tokenmom.com", :property => "og:url"}/
    %meta{:content => "Tokenmom - Decentralized Exchange(DEX) TM COIN", :property => "og:site_name"}/
    %meta{:content => "Tokenmom - Decentralized Exchange(DEX) TM COIN", :property => "og:title"}/
    %meta{:content => "https://tokenmom.com/assets/tmom_logo-d55bca008d899c2769967ab45bc486ca59f08e158f0cc1a7b34062197c3e4910.png", :property => "og:image"}/
    %meta{:content => "1200", :property => "og:image:width"}/
    %meta{:content => "627", :property => "og:image:height"}/
    %meta{:content => "Tokenmom - Decentralized Exchange(DEX) TM COIN", :property => "og:description"}/
    %meta{:content => "en_en", :property => "og:locale"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => "https://twitter.com/Token_Mom", :name => "twitter:url"}/
    %meta{:content => "tokenmom.com", :name => "twitter:domain"}/
    %meta{:content => "Tokenmom - Decentralized Exchange(DEX) TM COIN", :name => "twitter:site_name"}/
    %meta{:content => "Tokenmom - Decentralized Exchange(DEX) TM COIN", :name => "twitter:title"}/
    %meta{:content => "https://pbs.twimg.com/media/DlspmCkV4AAj0Zr.jpg", :name => "twitter:image"}/
    %meta{:content => "Tokenmom - Decentralized Exchange(DEX) TM COIN", :name => "twitter:description"}/
    %meta{:content => "en_en", :name => "twitter:locale"}/
    %meta{:content => "website", :name => "twitter:type"}/
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    - if current_page?(controller: 'exchange', action: 'trade')
      = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -if current_page?(controller: 'exchange', action: 'reward')
      = javascript_include_tag 'application' , 'data-turbolinks-track': 'reload'
    - if current_page?(controller: 'exchange', action: 'index')
      = javascript_include_tag 'application'
      %link{:href => "https://unpkg.com/aos@next/dist/aos.css", :rel => "stylesheet"}/
      %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.3.1/css/all.css", :integrity => "sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", :rel => "stylesheet"}/
    
      
    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}/
  %body    
    = yield
